.skills {
    padding: 2rem;
    border-radius: 10px;
    background-color: transparent; 
    border: 1px solid #007bff; 
    transition: border-color 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.15);
}

.skills:hover {
    box-shadow: 0 8px 25px rgba(0, 123, 255, 0.25);
}

.skills h2 {
    font-size: 2rem;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.skills p {
    font-size: 1rem;
    color: #000000 !important;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.dark-theme .skills {
    background-color: transparent;
    border-color: #ff0000;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.15);
}

.dark-theme .skills:hover {
    box-shadow: 0 8px 25px rgba(255, 0, 0, 0.25);
}

.dark-theme .skills h2 {
    color: #ff0000;
}

.dark-theme .skills p {
    color: #ffffff !important;
}


.card {
    border: none;
    background-color: hsla(0, 0%, 100%, 0.19) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.col-md-4.mb-4:hover {
    transform: translateY(-5px) !important;
}
.col-md-4.mb-4 {
    margin-top: 50px;
}


.card-title {
    font-size: 1.5rem;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 0; 
    padding-bottom: 0;
}

.dark-theme .card-title {
    color: #ff0000;
}


.list-unstyled {
    padding-left: 0;
    margin: 0; 
    list-style: none;
}

.list-unstyled li {
    font-size: 1rem;
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    transition: color 0.3s ease;
}

.dark-theme .list-unstyled li {
    color: #ccc;
}

.skill-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.list-unstyled li:hover .skill-icon {
    transform: scale(1.2);
}


@media (max-width: 576px) {
    .skills {
        padding: 1rem;
    }

    .skills h2 {
        font-size: 1.5rem;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .list-unstyled li {
        font-size: 0.9rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .skills {
        padding: 1.5rem;
    }

    .skills h2 {
        font-size: 1.75rem;
    }

    .card-title {
        font-size: 1.4rem;
    }

    .list-unstyled li {
        font-size: 0.95rem;
    }
}


@media (min-width: 769px) {
    .skills {
        padding: 2rem;
    }

    .skills h2 {
        font-size: 2rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .list-unstyled li {
        font-size: 1rem;
    }
}
